fastapi==0.115.0
starlette==0.38.6
uvicorn[standard]==0.32.0
pymysql==1.2.0
google-generativeai==0.8.6
google-ai-generativelanguage==0.6.15
pandas==2.2.3
statsmodels==0.14.6
SQLAlchemy==2.0.35
python-dotenv==1.0.1